<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>

  <body>
    <h1>Posts</h1>
    <div class="post_list_item">
      <ol>
        <% results.forEach(function(post) {%>
        <li>
          <img
            src="<%=post.imageUrl%>"
            id="image"
            alt="user image"
            width="500"
            height="500"
          />
          <%= post.message %> posted by <%= post.postedBy.name%> <%=
          post.postedBy.email %>
        </li>
        <% }) %>
      </ol>
    </div>

    <%if (previous) { %>
    <a href="<%= previous %>"> Previous </a>
    <% } %> <%if (next) { %>
    <a href="<%= next %>"> Next </a>
    <% } %>
  </body>
  <%- include('_footer') -%>
</html>
