<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% postList.results.forEach(function(post) {%>
        <li>
            <%= post.message %> - Posted At : <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss") %> - Posted By : <%= post.postedBy.name %>
            <img src= <%= post.imageUrl %>  width="200" height="300"> 
            
            
        </li>
        
    <% }); %>
</ol>
<%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
<% } %>
<%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>